[Unit]
Description=vllm model serve service

[Install]
WantedBy=multi-user.target default.target

[Service]
ExecStart=vllm serve {{gpu_validation_model_name | quote}} --tensor-parallel-size {{gpu_validation_num_gpus}} --port 8000
Restart=always
