[Unit]
Description=vllm model serve service

[Install]
WantedBy=multi-user.target default.target

[Service]
ExecStart=vllm serve {{model_name | quote}} --tensor-parallel-size {{num_gpus}} --port 8000
Restart=always
